{
  "openapi": "3.0.3",
  "info": {
    "title": "VigilSquad API",
    "version": "1.0.0",
    "description": "API for managing AI agents, integrations, and conversational widgets. Authenticate via Bearer token.",
    "contact": {
      "name": "Nutek Devs",
      "url": "https://vigilsquad.com"
    }
  },
  "servers": [
    {
      "url": "https://api.vigilsquad.com",
      "description": "Production"
    },
    {
      "url": "https://dev-api.vigilsquad.com",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Company API token obtained from the dashboard Settings page"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/agents": {
      "get": {
        "summary": "List all agents for the authenticated company",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "companyId": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "promptSections": {
                            "type": "object",
                            "description": "Structured prompt sections (identity, role, context, personality, goal, guardrails, customSections)"
                          },
                          "templateId": {
                            "type": "integer",
                            "nullable": true
                          },
                          "llmProvider": {
                            "type": "string"
                          },
                          "aiModel": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create a new agent",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "promptSections": {
                    "type": "object",
                    "description": "Structured prompt sections (identity, role, context, personality, goal, guardrails, customSections)"
                  },
                  "templateId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "llmProvider": {
                    "type": "string",
                    "example": "openai"
                  },
                  "aiModel": {
                    "type": "string",
                    "example": "gpt-4o"
                  },
                  "llmApiKey": {
                    "type": "string",
                    "description": "Stored encrypted (AES-256-GCM)"
                  },
                  "temperature": {
                    "type": "integer",
                    "description": "Temperature 0-100 (divided by 100 at runtime)"
                  },
                  "maxTokens": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created (llmApiKey redacted as [ENCRYPTED])",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{id}": {
      "get": {
        "summary": "Get agent by ID",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details (includes company info; llmApiKey redacted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "summary": "Update an agent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "promptSections": {
                    "type": "object",
                    "description": "Structured prompt sections (identity, role, context, personality, goal, guardrails, customSections)"
                  },
                  "templateId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "llmProvider": {
                    "type": "string"
                  },
                  "aiModel": {
                    "type": "string"
                  },
                  "llmApiKey": {
                    "type": "string",
                    "description": "Send new key or \"[ENCRYPTED]\" to keep existing"
                  },
                  "temperature": {
                    "type": "integer"
                  },
                  "maxTokens": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated (llmApiKey redacted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "summary": "Register a new user and company",
        "description": "Creates a Supabase user, company, wallet (with $5 welcome credit), and company_members record.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "companyName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User and company created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string"
                        }
                      }
                    },
                    "company": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "companyId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "companyName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields or user creation failed"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Sign in with email and password",
        "description": "Authenticates via Supabase Auth and returns a session with access and refresh tokens.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string"
                        },
                        "refresh_token": {
                          "type": "string"
                        },
                        "expires_at": {
                          "type": "integer"
                        }
                      }
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "integer",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing email or password"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout current user",
        "description": "Acknowledges logout. Frontend handles Supabase session cleanup.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logout acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "summary": "Refresh an expired session",
        "description": "Uses a refresh_token to obtain new access and refresh tokens.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string"
                        },
                        "refresh_token": {
                          "type": "string"
                        },
                        "expires_at": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing refresh_token"
          },
          "401": {
            "description": "Refresh failed"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "summary": "Get current authenticated user",
        "description": "Returns the current user info enriched with company data.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "integer"
                        },
                        "isSuperadmin": {
                          "type": "boolean"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "owner",
                            "admin",
                            "developer",
                            "member"
                          ],
                          "nullable": true,
                          "description": "Role do utilizador na company (null se não for membro)"
                        }
                      }
                    },
                    "company": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "companyId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "companyName": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/billing/plans": {
      "get": {
        "summary": "List active subscription plans",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Active subscription plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/billing/subscription": {
      "get": {
        "summary": "Get current company subscription",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Current subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscription": {
                      "type": "object",
                      "nullable": true,
                      "description": "Company subscription record (null if none)"
                    },
                    "lago_subscription": {
                      "type": "object",
                      "nullable": true,
                      "description": "Lago subscription details (null if not available)"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations": {
      "get": {
        "summary": "List integrations for the authenticated company",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "List of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "companyId": {
                            "type": "integer"
                          },
                          "connectorType": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "webhookUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "summary": "Create a new integration",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "connectorType",
                  "displayName"
                ],
                "properties": {
                  "connectorType": {
                    "type": "string",
                    "description": "Registered connector type (e.g. chat2desk, webchat)"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "credentials": {
                    "type": "object",
                    "description": "Connector-specific credentials (stored encrypted)"
                  },
                  "config": {
                    "type": "object",
                    "description": "Connector-specific configuration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields or unknown connector type"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}": {
      "get": {
        "summary": "Get integration by ID",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "summary": "Update an integration",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  },
                  "status": {
                    "type": "string"
                  },
                  "credentials": {
                    "type": "object",
                    "description": "Re-encrypted on update"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "summary": "Delete an integration",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}/validate": {
      "post": {
        "summary": "Validate integration credentials and, for Chat2Desk, the registered webhook",
        "description": "Checks the connector credentials. For Chat2Desk it also looks the integration's webhook up in the customer's account: healthError is null when healthy, \"invalid_credentials\", \"webhook_not_registered\", \"webhook_disabled\" (Chat2Desk disables webhooks after delivery failures — Re-register re-enables it) or \"webhook_check_failed\" (Chat2Desk could not be queried; previous health kept).",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "healthError": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "invalid_credentials",
                        "webhook_not_registered",
                        "webhook_disabled",
                        "webhook_check_failed"
                      ]
                    },
                    "webhook": {
                      "type": "object",
                      "properties": {
                        "registered": {
                          "type": "boolean"
                        },
                        "status": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}/register-webhook": {
      "post": {
        "summary": "Register (or re-register) the connector webhook with the external platform",
        "description": "Idempotent. Registers this integration's inbound webhook on Chat2Desk using the CURRENT BASE_URL (the stored webhook_url is only a fallback and is corrected on success). An existing webhook with the same path (/api/webhook/chat2desk/{id}) is updated in place — domain change, secret rotation or rename never create duplicates.",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result of webhook registration"
          },
          "400": {
            "description": "Connector does not support webhook auto-registration"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}/sync-channels": {
      "post": {
        "summary": "Sync channels from the external platform",
        "description": "Fetches channels from the connector and upserts them locally.",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synced channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}/channels": {
      "get": {
        "summary": "List channels for an integration",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/integrations/{id}/channels/{channelId}": {
      "patch": {
        "summary": "Bind (or unbind) an agent to an integration channel",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "channelId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentId"
                ],
                "properties": {
                  "agentId": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channel": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body"
          },
          "404": {
            "description": "Integration, channel or agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/connectors": {
      "get": {
        "summary": "List available connector types",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "Available connector types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connectors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "transportMode": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{id}/context": {
      "get": {
        "summary": "Get the shared conversation context and agent path for a session",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sharedContext": {
                      "type": "object",
                      "properties": {
                        "facts": {
                          "type": "object"
                        },
                        "journey": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "agentPath": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "integer"
                          },
                          "agentName": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "nullable": true
                          },
                          "confidence": {
                            "type": "number",
                            "nullable": true
                          },
                          "routeId": {
                            "type": "string",
                            "nullable": true
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "via": {
                            "type": "string",
                            "enum": [
                              "entry_routing",
                              "handoff_tool",
                              "initial"
                            ]
                          },
                          "depth": {
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "activeAgentId": {
                      "type": "integer",
                      "nullable": true
                    },
                    "agentId": {
                      "type": "integer"
                    },
                    "chatId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/sessions/{id}/reassign": {
      "post": {
        "summary": "Reassign a session to a different agent",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetAgentId": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "targetAgentId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session reassigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "session": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "agentId": {
                          "type": "integer"
                        },
                        "activeAgentId": {
                          "type": "integer",
                          "nullable": true
                        },
                        "chatId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ongoing",
                            "paused",
                            "closed"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid targetAgentId"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/sessions/{id}/status": {
      "get": {
        "summary": "Get the current status of a session",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ongoing",
                        "paused",
                        "closed"
                      ]
                    },
                    "pauseState": {
                      "type": "object",
                      "properties": {
                        "pausedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "reason": {
                          "type": "string",
                          "nullable": true
                        },
                        "externalReference": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/sessions/{id}/pause": {
      "post": {
        "summary": "Pause a session (agent stops responding, inbound is still persisted)",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "externalReference": {
                    "type": "string",
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session paused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "session": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "agentId": {
                          "type": "integer"
                        },
                        "activeAgentId": {
                          "type": "integer",
                          "nullable": true
                        },
                        "chatId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ongoing",
                            "paused",
                            "closed"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/sessions/{id}/resume": {
      "post": {
        "summary": "Resume a paused session",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session resumed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "session": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "agentId": {
                          "type": "integer"
                        },
                        "activeAgentId": {
                          "type": "integer",
                          "nullable": true
                        },
                        "chatId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ongoing",
                            "paused",
                            "closed"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Session is not paused"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/sessions/{id}/close": {
      "post": {
        "summary": "Close a session (terminal state)",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session closed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "session": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "agentId": {
                          "type": "integer"
                        },
                        "activeAgentId": {
                          "type": "integer",
                          "nullable": true
                        },
                        "chatId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ongoing",
                            "paused",
                            "closed"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/webhook/{connectorType}/{integrationId}": {
      "post": {
        "summary": "Receive inbound webhook from a messaging platform",
        "description": "Generic webhook endpoint for all connectors. Verifies HMAC signature, parses the message, and enqueues for async processing.",
        "tags": [
          "Webhooks"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "connectorType",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Connector type (e.g. chat2desk, webchat)"
          },
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Connector-specific webhook payload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received and enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid webhook signature"
          },
          "404": {
            "description": "Unknown connector or integration not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/widget/config/{integrationId}": {
      "get": {
        "summary": "Get public widget configuration",
        "description": "Returns sanitized widget config for embedding. Checks Origin against allowedDomains.",
        "tags": [
          "Widget"
        ],
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "integrationId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Widget configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "config": {
                      "type": "object",
                      "properties": {
                        "theme": {
                          "type": "string"
                        },
                        "accentColor": {
                          "type": "string"
                        },
                        "position": {
                          "type": "string"
                        },
                        "brandLogo": {
                          "type": "string",
                          "nullable": true
                        },
                        "brandName": {
                          "type": "string",
                          "nullable": true
                        },
                        "welcomeMessage": {
                          "type": "string",
                          "nullable": true
                        },
                        "placeholderText": {
                          "type": "string",
                          "nullable": true
                        },
                        "mode": {
                          "type": "string"
                        },
                        "autoOpen": {
                          "type": "boolean"
                        },
                        "autoOpenDelayMs": {
                          "type": "integer",
                          "nullable": true
                        },
                        "requireEmail": {
                          "type": "boolean"
                        },
                        "captureUtm": {
                          "type": "boolean"
                        },
                        "removeBranding": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid integrationId"
          },
          "403": {
            "description": "Origin not allowed"
          },
          "404": {
            "description": "Integration or widget config not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-04-03T12:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}